.item-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.6rem;
  padding-inline: 1.5rem;
  box-sizing: border-box;
}

.item-container.dark {
  border-bottom: 1px solid var(--color-dark-gray-purple);
}

.item-container.light {
  border-bottom: 1px solid var(--color-light-grayish-purple);
}

.task-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 75%;
}

.task-wrapper p {
  width: max-content;
  cursor: pointer;
}

.task-wrapper.dark p {
  color: var(--color-grayish-purple);
}

.task-wrapper.light p {
  color: var(--color-dark-gray-purple);
}

.task-wrapper p.done {
  text-decoration: line-through;
}

.task-wrapper.dark p.done {
  color: var(--color-dark-gray-purple);
}

.task-wrapper.light p.done {
  color: var(--color-light-grayish-purple);
}

.item-container img.cross {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.item-container:hover img.cross {
  opacity: 1;
  visibility: visible;
}
