.icon-container {
  height: 1.45rem;
  width: 1.45rem;
  border-radius: 50%;
  display: flex;
  border: 1px solid var(--color-dark-gray-purple);
  justify-content: center;
  align-items: center;
}

.icon-container.nonclick {
  pointer-events: none;
}

.icon-container:hover {
  border: 1px solid transparent;
  background: linear-gradient(to bottom right, var(--color-light-blue), var(--color-purple));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon-container:hover::before {
  content: '';
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  z-index: 1;
}

.icon-container.dark:hover::before {
  background-color: var(--color-dark-grayish-blue);
}

.icon-container.light:hover::before {
  background-color: var(--color-light-gray);
}

.icon-container.done {
  position: relative;
  pointer-events: none;
  border: none;
  background: linear-gradient(to bottom right, var(--color-light-blue), var(--color-purple));
}

.icon-container.done img {
  z-index: 20;
}
