/* ------------ Typography ------------ */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ------------ Color Variables ------------ */

:root {
  --color-light-gray: hsl(0, 0%, 98%);
  --color-gray: hsl(260, 2%, 76%);
  --color-dark-gray: hsl(247, 18%, 10%);
  --color-gray-shadow: hsl(253, 21%, 8%);
  --color-dark-grayish-blue: hsl(233, 23%, 15%);
  --color-light-purple: hsl(304, 11%, 73%);
  --color-purple-blue: hsl(226, 71%, 62%);
}

/* ------------ Layout ------------ */

body {
  margin: 0;
  padding: 0;
  font-family: Josefin Sans, sans-serif;
}

* {
  box-sizing: border-box;
}
